<div class="container">
  <div class="row">
    <div class="col-6 title">
        <%= image_tag "education.svg", width:"20%" %>
        <h3>Edit this brain</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 content">
      <%= simple_form_for [@user, @brain] do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :price %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: 'btn btn-primary'%>
        <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</div>
