<div class="container">
  <div class="products-header">
    <h3 ><%= "An incredible experience in their shoes" %></h3>
    <%= render "search_brains" %>
  </div>

  <div class="my-content">

    <div class="card-container">
      <% @brains.each do |brain| %>
        <% if !(brain.user == current_user) %>
          <%= link_to brain_path(brain) do %>
            <div class="card-brain">
              <%= image_tag "art-and-design.svg" %>
              <div class="card-brain-infos">
                <h5><strong><%= brain.name %></strong></h5>
                <p><i class="far fa-lightbulb"></i><em><%= " #{brain.category.name.capitalize}" %></em></p>
                <p><%= brain.address %></p>
                <p><strong><%= "#{brain.price} € /hour" %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
      <div class="map-index" id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
