<div class="container">
  <div class="products-header">
    <h3 ><%= "An incredible experience in their shoes" %></h3>
    <%= render "search_brains" %>
  </div>

  <div class="my-content">

    <div class="card-container">
      <% @brains.each do |brain| %>
        <% if !(brain.user == current_user) %>
          <%= link_to brain_path(brain) do %>
            <div class="card-brain">
              <%= image_tag "art-and-design.svg" %>
              <div class="card-brain-infos">
                <h5><strong><%= brain.name.capitalize %></strong></h5>
                <p><i class="far fa-lightbulb"></i><em><%= " #{brain.category.capitalize}" %></em></p>
                <p><%= brain.description.capitalize %></p>
                <p><%= brain.address %></p>
                <p><strong><%= "#{brain.price} € per hour" %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <%= image_tag "map.png", height:"400px", width:"650px", crop: :fill, class: "rounded" %>
  </div>
</div>
