<div class="row-brain-new">

  <div class="container-brain-new col-6">
      <div class="col-16">
          <h3>Propose a new brain</h3>
      </div>

      <div class="form-input">
        <%= simple_form_for [@user, @brain] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.input :category %>
          <%= f.input :price %>
          <%= f.submit class: 'btn btn-primary btn-block'%>
          <%= f.button :button, "Cancel", type: "reset", class: "btn btn-outline-primary btn-block" %>
      </div>
        <% end %>
  </div>

</div>

