<div class="container">
  <div class="main-container-brain-show">
    <div class="left-container-brain-show">
      <div class="row-6">
        <div class="col">

          <div class="title-and-pic">
          <h2><%= @brain.name %></h2>
            <div class="avatar-xtra-large" >
              <%= cl_image_tag @brain.photo.key, height: 100, width: 100, crop: :fill %>
            </div>
          </div>
          <div class="line"></div>
          <p><strong>Description: </strong><%= @brain.description %></p>

        </div>
      </div>
    </div>
    <div class="right-container-brain-show">
      <div class="row">
        <div class="col">

          <p><%= @brain.price %> <strong>€</strong>/hour</p>
          <%= link_to 'Book this brain',  new_brain_booking_path(@brain), class: "btn btn-primary" %>

        </div>
      </div>
    </div>
  </div>
</div>
