<div class="container">
  <div class="row mt-4 justify-content-between">
    <div class="col-7">
      <div class="d-flex justify-content-between align-items-center">
        <h2><%= @brain.name %></h2>
        <div class="avatar-xtra-large" >
          <%= cl_image_tag @brain.photo.key, height: 100, width: 100, crop: :fill %>
        </div>
      </div>
      <hr>
      <div class="d-flex flex-column">
        <div>
          <p><strong><i class="fas fa-clipboard-list"></i> Description: </strong><%= @brain.description %></p>
          <p><strong><i class="fas fa-map-pin"></i> Adress: </strong><%= @brain.address %></p>
          <hr>
        </div>
        <div>
          <p><strong><i class="fas fa-window-close"></i> Cancellation policy: </strong>You have one day to cancell your reservation, you'll be charged one hour fees per cancellation.</p>
        </div>
      </div>
    </div>
    <div class="col-4 card shadow p-3 mb-5 bg-white rounded">
      <div class="d-flex justify-content-end">
        <p><%= @brain.price %> <strong>€</strong>/hour</p>
      </div>
      <hr>
      <%= image_tag "art-and-design.svg", width:"70%" %>
      <%= link_to 'Book this brain',  new_brain_booking_path(@brain), class: "btn btn-primary" %>
    </div>
    <%= image_tag "map.png", height:"400px", width:"1200px", crop: :fill %>
  </div>
</div>
